/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('cam.jpg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 20px;
    height: 80%;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(118, 8, 8, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #f5f3f3;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    display: inline-block;
    margin-top: 100px;
    padding: 20px 100px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

@media (min-width: 600px) {
    .button-container {
        flex-direction: row;
        justify-content: center;
    }
}
