/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

/* Style for the form container */
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Style for the form elements */
form {
    display: flex;
    flex-direction: column;
}

/* Style for labels and inputs */
label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style for error messages */
.error {
    color: red;
    margin-bottom: 15px;
}


.welcome-message {
    font-size: 24px;
    margin-bottom: 20px;
}

.logout-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}
.logout-link:hover {
    background-color: #0056b3;
}


.login-button , .signup-button{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.login-button:hover {
    background-color: #0056b3;
}
